<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<title>Inbox</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
	<link href="../../css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>

<body id="body">

<script>
	function refresh() {
		var el = document.getElementById('emails');
		el.innerHTML = '';

		var req = new XMLHttpRequest();
		req.open('GET', '/mail');
		req.setRequestHeader('accept', 'application/json');
		req.addEventListener('load', function (ev) {
			if (ev.currentTarget.status != 200) {
				window.alert(JSON.stringify(JSON.parse(ev.currentTarget.response), null, 4));
				window.history.back();
				return;
			}
			var resp = JSON.parse(ev.currentTarget.response);

			resp.forEach(function (item) {
				var tr = document.createElement('tr');
				tr.name = item['id'];

				var td = document.createElement('td');
				tr.appendChild(td);
				var checkbox = document.createElement('input');
				checkbox.type = 'checkbox';
				checkbox.className = 'checkbox';
				td.appendChild(checkbox);

				// populate the row with data from the email
				['subject', 'emailStr'].forEach(function (key) {
					var td = document.createElement('td');
					switch (key) {
						default:
							td.innerText = item[key];
							break;
					}
					tr.appendChild(td);
				});

				el.appendChild(tr);
			});
		});
		req.send();
	}

	// delete the emails whose checkbox is selected
	function deleteEmails() {
		var table = document.getElementById("emails");
		for (var i = 0, row; row = table.rows[i]; i++) {
			var checkbox = row.getElementsByClassName('checkbox');
			if (checkbox[0].checked == true) {
				var id = row.name;
				var req = new XMLHttpRequest();
				req.open('DELETE', '/mail/' + encodeURIComponent(id));
				req.setRequestHeader('accept', 'application/json');
				req.addEventListener('load', function (ev) {
					refresh(); //TODO: only call this after the last delete returns
					});
				req.send();
			}
		}
	}
</script>

<div class="container">

<h1>Emails</h1>

<button class="btn btn-default" style="margin-top:1em; margin-left:1em" onclick="refresh()">Refresh</button>

<button class="btn btn-default" style="margin-top:1em; margin-left:1em" onclick="deleteEmails()">Delete</button>

<table class="table table-condensed" style="margin-top: 20px;">
	<tbody id="emails"/>
</table>

</div> <!-- container -->

<script>
	refresh();
</script>

</body>
</html>
