<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<title>Inbox</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link href="../../css/bootstrap.css" rel="stylesheet" media="screen"/>
</head>

<body id="body">

<script>
	function refresh() {
		var el = document.getElementById('emails');
		el.innerHTML = '';

		var req = new XMLHttpRequest();
		req.open('GET', '/mail');
		req.addEventListener('load', function (ev) {
			if (ev.currentTarget.status != 200) {
				window.alert(JSON.stringify(JSON.parse(ev.currentTarget.response), null, 4));
				window.history.back();
				return;
			}
			var resp = JSON.parse(ev.currentTarget.response);

			resp.forEach(function (item) {
				var tr = document.createElement('tr');

				['id', 'subject', 'emailStr'].forEach(function (key) {
					var td = document.createElement('td');
					switch (key) {
						case 'emailStr':
							console.log(item[key]);
							break;
						case 'id':
							tr.id = item[key];
						default:
							td.innerText = item[key];
							break;
					}
					tr.appendChild(td);
				});

				el.appendChild(tr);
			});
		});
		req.send();
	}

</script>

<h1>Emails</h1>

<button class="btn btn-default" style="margin-top:1em; margin-left:1em" onclick="refresh()">Refresh</button>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<td>ID</td>
			<td>Subject</td>
			<td>Text</td>
		</tr>
	</thead>
	<tbody id="emails"/>
</table>

<script>
	function refresh() {
		var el = document.getElementById('emails');
		el.innerHTML = '';

		var req = new XMLHttpRequest();
		req.open('GET', '/mail');
		req.setRequestHeader('accept', 'application/json');
		req.addEventListener('load', function (ev) {
			if (ev.currentTarget.status != 200) {
				window.alert(JSON.stringify(JSON.parse(ev.currentTarget.response), null, 4));
				window.history.back();
				return;
			}
			var resp = JSON.parse(ev.currentTarget.response);

			resp.forEach(function (item) {
				var tr = document.createElement('tr');

				['id', 'subject', 'emailStr'].forEach(function (key) {
					var td = document.createElement('td');
					switch (key) {
						default:
							td.innerText = item[key];
							break;
					}
					tr.appendChild(td);
				});

//				var buttontd = document.createElement('td');
//
//				var deleteButton = document.createElement('button');
//				deleteButton.name = item['restName'];
//				deleteButton.innerText = 'Delete';
//				deleteButton.className = 'btn btn-default';
//				deleteButton.style = 'margin-top:0.5em;margin-right:0.5em;';
//				deleteButton.onclick = function deleteSp() {
//					var req = new XMLHttpRequest();
//					req.open('DELETE', '/rest/v1/serviceProvider/' + encodeURIComponent(this.name));
//					req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
//					req.addEventListener('load', function (ev) {
//						if (ev.currentTarget.response) {
//							console.error(ev.currentTarget.response);
//							window.alert(ev.currentTarget.response);
//						}
//						refresh();
//					});
//					req.send();
//				};
//				buttontd.appendChild(deleteButton);
//				tr.appendChild(buttontd);

				el.appendChild(tr);
			});
		});
		req.send();
	}
	refresh();
</script>

</body>
</html>
